@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');


/* ((Used Colors))
- Almost White: hsl(0, 0%, 98%)
- Medium Gray: hsl(0, 0%, 41%)
- Almost Black: hsl(0, 0%, 8%)
*/

$list-style: none;
$almost-white: hsl(0, 0%, 98%);
$medium-grey: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);
$main-font: "Epilogue", sans-serif;
$full-bright: rgba(255, 255, 255, 1);
$full-dark: rgba(50, 50, 50, 0.50);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  padding-top: 25px;
  
}

.dark-cont {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: $full-bright;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.dark-on {
  background: $full-dark;
}

.dark-on-bg {
  filter: brightness(60%);
  opacity: 0.9;
}

a {
  text-decoration: none;
  color: $medium-grey;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: $almost-black;
}

ul {
  list-style: $list-style;
}

.global-header {
  display: flex;
  justify-content: space-between;
  margin: 0px 15px;
}

.open-btn {
  display: block;
}

.close-btn {
  display: none;
}

.mobile-img {
  width: 100%;
  height: 320px;
  object-fit: contain;
}

.hamburger-icon {
  width: 35px;
  height: 20px;
  opacity: 0.9;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin: 0 18px;
}

.close-icon {
  position: absolute;
  width: 30px;
  opacity: 0.9;
  cursor: pointer;
  right: 0;
  top: 5;
  z-index: 2;
  margin: 0 20px;
}

.header-links-cont {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 1.5s ease-in-out;
}

.nav-bar-content {
  background-color: $almost-white;
  flex-direction: column;
  width: 0;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.features-cont {
  margin-top: 80px;
}

#features, #company, .carriers, .about {
  padding: 5px 20px 10px 20px;
}

#features:hover, #company:hover {
  filter: invert(0.4) 
  sepia(0.5) 
  saturate(1) 
  hue-rotate(158.4deg) 
  brightness(0.2);
}

.arrow-icon, .arrow-icon2 {
  margin-left: 12px;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.features-list, .company-list {
  margin: 15px 40px 5px 40px;
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.features-list li {
  margin: 6px;
  height: 28px;
}

.features-list .calender-item {
  margin: 6px 6px 3px 6px;
}

.side-icons {
  margin-right: 12px;
  margin-bottom: -2px;
  width: 14px;
}

.company-list li {
  padding: 5px 0;
  margin: 6px;
}

.nav-btn-cont {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 1.5s ease-in-out;
}

.press {
  visibility: visible;
  width: 65%;
}

.press2 {
  display: block;
}

.press3 {
  display: none;
}

.press4 {
  opacity: 1;
}

.press5 {
  visibility: visible;
  height: 100%;
  opacity: 1;
}

.press6 {
  transform: rotate(180deg);
}

.login-btn, .register-btn {
  width: 180px;
  margin: 10px auto;
  padding: 8px;
  border: 0;
  color: $medium-grey;
  font-size: 14px;
  font-family: $main-font;
  background: transparent;
  cursor: pointer;
  border-radius: 0.7rem;
  transition: all 0.3s ease-in-out;
}

.register-btn {
  border: 2px solid $medium-grey;
}

.login-btn:hover {
  color: $almost-black;
}

.register-btn:hover {
  border: 2px solid $almost-black;
  color: $almost-black
}

.desktop-img-cont {
  display: none;
}

.main-content {
  text-align: center;
}

h1 {
  color: $almost-black;
  padding: 30px 0 20px 0;
  font-size: 2.25rem;
}

.main-p {
  color: $medium-grey;
  width: 350px;
  margin: 0 auto;
  line-height: 1.5rem;
}

.main-btn {
  width: 125px;
  margin: 20px auto;
  border: solid 1px $almost-black;
  background-color: $almost-black;
  color: $almost-white;
  font-family: $main-font;
  padding: 15px;
  border-radius: 0.7rem;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.main-btn:hover {
  color: $almost-black;
  background-color: $almost-white;
  font-weight: 700;
}

.sponsers-cont {
  width: 360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sponsers-cont img {
  width: 70px;
}

@media only screen and (min-width: 768px) {
  .press {
    width: 35%;
  }

  .features-cont {
    margin-top: 120px;
  }

  #features, #company, .carriers, .about {
    padding: 10px 20px 20px 60px;
  }

  .carriers, .about {
    padding: 5px 20px 20px 60px;
  }

  .features-list, .company-list {
    margin: 15px 40px 15px 80px;
  }

  .mobile-img-cont {
    margin-top: 150px;
  }

  .attribution {
    position: absolute;
    bottom: 5px;
    right: 0;
    left: 0;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    padding-top: 0;
  }

  .header-cont {
    display: flex;
    width: 90%;
    height: 50px;
    align-items: center;
    margin: 25px auto 0 auto;
  }

  .global-header {
    margin: 0;
  }

  .open-btn, .close-btn {
    display: none;
  }

  .nav-bar-content {
    visibility: visible;
    width: 100%;
    position: static;
    display: flex;
    background-color: transparent;
    flex-direction: row;
    transition: none;
  }

  .bright-on {
    background: $full-bright;
  }

  .header-links-cont, .nav-btn-cont {
    opacity: 1;
    flex-direction: row;
    width: 100%;
    justify-content: end;
    transition: none;
  }

  .nav-btn-cont {
    align-items: center;
    margin-bottom: 5px;
  }

  .header-links-cont {
    margin-left: 50px;
    margin-top: 12px;
    justify-content: left;
  }

  .features-cont, .company-cont, .carriers, .about {
    margin: 0;
    width: 130px;
    padding: 0;
  }

  .carriers, .about {
    width: 100px;
  }

  #features, #company {
    padding: 0;
    margin: 0;
  }

  .features-list, .company-list {
    width: 150px;
    height: 150px;
    padding: 20px 30px;
    border-radius: 0.5rem;
    box-shadow: 0 0px 5px 6px rgba(230, 230, 230, 0.6);
    clip-path: inset(Apx Bpx Cpx Dpx);
  }

  .features-list {
    margin-left: -90px;
    width: 180px;
    height: 180px;
  }

  .features-list li {
    width: 120px;
  }

  .company-list {
    margin-left: 0px;
  }

  .side-icons {
    width: 16px;
    margin-bottom: -4px;
  }

  .features-list .calender-item {
    margin: 6px 6px -4px 6px;
  }

  .login-btn, .register-btn {
    margin: 0;
    width: 100px;
    padding: 10px;
    border-radius: 0.8rem;
  }

  .mobile-img-cont {
    display: none;
    width: 100%;
  }

  .main-content-desktop {
    display: flex;
    width: 1000px;
    margin: 120px auto 0 auto;
    justify-content: center;
    align-items: center;
  }

  .main-content {
    width: 100%;
    text-align: left;
    margin: 0 auto;
  }

  h1 {
    font-size: 3.4rem;
    padding: 30px 0 40px 0;
  }

  .main-p {
    margin: 0;
    width: 80%;
  }

  .main-btn {
    padding: 15px 20px;
    width: 130px;
    margin: 40px auto 80px auto;
  }

  .sponsers-cont {
    margin: 0;
  }

  .desktop-img-cont {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .desktop-img {
    width: 100%;
    height: 600px;
    object-fit: contain;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1440px) {

  h1 {
    font-size: 4.8rem;
    width: 85%;
  }

  .main-p {
    width: 70%;
  }

  .main-content-desktop {
    width: 1200px;
  }
}

@media only screen and (min-width: 1920px) {
  h1 {
    font-size: 5.2rem;
  }

  .main-content-desktop {
    width: 1600px;
  }

  .desktop-img {
    height: 700px;
  }
}

.attribution { 
  font-size: 11px; 
  text-align: center;
  color: $medium-grey;
}

.attribution a { 
  color: $almost-black; 
  font-weight: 700;
  text-decoration: underline;
}

.attribution a:hover {
  text-decoration: none;
}