@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
/* ((Used Colors))
- Almost White: hsl(0, 0%, 98%)
- Medium Gray: hsl(0, 0%, 41%)
- Almost Black: hsl(0, 0%, 8%)
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  padding-top: 25px;
}

a {
  text-decoration: none;
  color: hsl(0deg, 0%, 41%);
}

ul {
  list-style: none;
}

.global-header {
  display: flex;
  justify-content: space-between;
  margin: 0px 15px;
}

.open-btn {
  display: block;
}

.close-btn {
  display: none;
}

.mobile-img {
  width: 100%;
  height: 320px;
  -o-object-fit: contain;
     object-fit: contain;
}

.hamburger-icon {
  width: 35px;
  height: 20px;
  opacity: 0.9;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin: 0 18px;
}

.close-icon {
  position: absolute;
  width: 30px;
  opacity: 0.9;
  cursor: pointer;
  right: 0;
  top: 5;
  z-index: 2;
  margin: 0 20px;
}

.header-links-cont {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 1.5s ease-in-out;
}

.nav-bar-content {
  background-color: hsl(0deg, 0%, 98%);
  flex-direction: column;
  width: 0;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.features-cont {
  margin-top: 80px;
}

#features, #company, .carriers, .about {
  padding: 5px 20px 10px 20px;
}

.arrow-icon, .arrow-icon2 {
  margin: 0 12px;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.features-list, .company-list {
  margin: 15px 40px 5px 40px;
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.features-list li {
  margin: 6px;
  height: 28px;
}

.side-icons {
  margin-right: 12px;
  margin-bottom: -2px;
  width: 14px;
}

.company-list li {
  padding: 5px 0;
  margin: 6px;
}

.nav-btn-cont {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 1.5s ease-in-out;
}

.press {
  visibility: visible;
  width: 65%;
}

.press2 {
  display: block;
}

.press3 {
  display: none;
}

.press4 {
  opacity: 1;
}

.press5 {
  visibility: visible;
  height: 100%;
  opacity: 1;
}

.press6 {
  transform: rotate(180deg);
}

.login-btn, .register-btn {
  width: 180px;
  margin: 10px auto;
  padding: 8px;
  border: 0;
  color: hsl(0deg, 0%, 41%);
  font-size: 14px;
  font-family: "Epilogue", sans-serif;
  background: transparent;
  cursor: pointer;
  border-radius: 0.7rem;
}

.register-btn {
  border: 2px solid hsl(0deg, 0%, 41%);
}

.desktop-img-cont {
  display: none;
}

.main-content {
  text-align: center;
}

h1 {
  color: hsl(0deg, 0%, 8%);
  padding: 30px 0 20px 0;
  font-size: 2.25rem;
}

.main-p {
  color: hsl(0deg, 0%, 41%);
  width: 350px;
  margin: 0 auto;
  line-height: 1.5rem;
}

.main-btn {
  width: 125px;
  margin: 20px auto;
  border: 0;
  background-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 98%);
  font-family: "Epilogue", sans-serif;
  padding: 15px;
  border-radius: 0.7rem;
  font-size: 14px;
  cursor: pointer;
}

.sponsers-cont {
  width: 360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sponsers-cont img {
  width: 70px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 15px;
  color: hsl(0deg, 0%, 41%);
}

.attribution a {
  color: hsl(0deg, 0%, 8%);
  font-weight: 700;
  text-decoration: underline;
}

.attribution a:hover {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */